# **VIII. Model Inference**

In [1]:
import pandas as pd
import numpy as np
import joblib

### Load Data

In [2]:
with open('default_pred.pkl', 'rb') as file_1:
  final_pred = joblib.load(file_1)

In [7]:
#Membuat data baru
new_data = pd.DataFrame({
    'limit_balance':[150000,200000,80000],
    'education_level':[2,3,1],
    'age':[28,45,35],
    'pay_sept':[0,-2,5],
    'pay_aug':[1,2,4],
    'pay_july':[-1,-2,3],
    'pay_june':[0,2,3],
    'pay_may':[2,0,6],
    'pay_apr':[-1,0,7]
})
new_data

,limit_balance,education_level,age,pay_sept,pay_aug,pay_july,pay_june,pay_may,pay_apr
0,150000,2,28,0,1,-1,0,2,-1
1,200000,3,45,-2,2,-2,2,0,0
2,80000,1,35,5,4,3,3,6,7

### Pipeline (Preprocess + Model)

In [8]:
final_result = final_pred.predict(new_data)
final_result

array([0, 0, 1])

In [9]:
df_final = pd.DataFrame(final_result,columns=['Default Payment'])
df_final

   Default Payment
0                0
1                0
2                1

In [11]:
pd.concat([new_data,df_final],axis=1)

,limit_balance,education_level,age,pay_sept,pay_aug,pay_july,pay_june,pay_may,pay_apr,Default Payment
0,150000,2,28,0,1,-1,0,2,-1,0
1,200000,3,45,-2,2,-2,2,0,0,0
2,80000,1,35,5,4,3,3,6,7,1

Pada data diatas terlihat hasil prediksi apakah seseorang akan terkena default atau tidak, dimana pada intinya orang-orang yang sering menunggak akan masuk ke dalam kategori 1 yaitu yang akan terkena default kartu kredit